bin/
data/
obj/
build/
build_/
benchmarks/
json.json
json2.json
float8_test
float16_test
Untitled-1.cpp
memory_benchmark/memory_benchmark
**/*.aux
**/*.fls
**/*.fdb_latexmk
**/*.log
**/*.loa
**/*.bbl
**/*.blg
**/*.synctex.gz
**/*.thm
**/*.toc
**/*.lof
**/*.xdv
**/*.bcf
**/*.out
**/*.run.xml
**/*.nav
**/*.snm
written_bachelor_thesis/bilder/plots/*/
written_bachelor_thesis/thesis.txt